/* Main CSS styles for Tic Tac Toe */

body {
    background: #031634;
    color: #e8ddcb;
    font-size: 18px;
    margin: 60px;
}

#message {
    font-family: 'Indie Flower', sans-serif;
    font-size: 36px;
    height: 38px;
    margin: 0 auto;
    padding-bottom: 35px;
    width: 375px;
}

#play-game {
    display: block;
    margin: 0 auto;
    width: 209px;
}

#play, #restart {
    background-color: #e8ddcb;
    border: solid 3px #cdb380;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    color: #033649;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    padding: 5px;
}

#play {
    padding-left: 8px;
    padding-right: 8px;
}

#restart {
    margin-left: 15px;
    padding: 5px 10px 5px 10px;
}

#gameboard {
    height: 308px;
    width: 308px;
    margin: 0 auto;
    padding: 15px 0 50px 0;
}

.box {
    float: left;
    font-family: "Josefin Sans", sans-serif;
    font-size: 124px;
    font-weight: bold;
    height: 100px;
    text-align: center;
    width: 100px;
}

#s1, #s7 {
    border-top: 0;
    border-right: solid #e8ddcb 3px;
    border-bottom: 0; 
    border-left: solid #e8ddcb 3px;
}

#s3, #s5 {
    border-top: solid #e8ddcb 3px;
    border-right: 0;
    border-bottom: solid #e8ddcb 3px;
    border-left: 0;
}

#s4 {
    border: solid #e8ddcb 3px;
}

