/* Main CSS styles for Tic Tac Toe */

body {
    background: #031634;
    background-image: -moz-radial-gradient(center, circle contain, #06244F 25%, #031634 100%);    
    background-image: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(25%,#06244F), color-stop(100%,#031634));
    background-image: -webkit-radial-gradient(center, circle contain, #06244F 25%,#031634 100%);
    background-image: -o-radial-gradient(center, circle contain, #06244F 25%,#031634 100%);
    background-image: -ms-radial-gradient(center, circle contain, #06244F 25%,#031634 100%);
    background-image: radial-gradient(circle at center, #06244F 25%,#031634 100%);
    color: #e8ddcb;
    font-size: 18px;
    margin: 60px;
}

#message {
    font-family: 'Indie Flower', sans-serif;
    font-size: 36px;
    height: 38px;
    margin: 0 auto;
    padding-bottom: 35px;
    width: 375px;
}

#play-game {
    display: block;
    margin: 0 auto;
    width: 209px;
}

#play, #restart {
    cursor: pointer;
    background-color: #e8ddcb;
    border: solid 3px #cdb380;
    border-radius: 17px;
    color: #033649;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    padding: 5px;
}

#play {
    padding-left: 8px;
    padding-right: 8px;
}

#play:hover, #restart:hover {
    background-color: #cdb380;
}

#restart {
    margin-left: 15px;
    padding: 5px 10px 5px 10px;
}

#gameboard {
    height: 308px;
    width: 308px;
    margin: 0 auto;
    padding: 15px 0 50px 0;
}

#gameboard:hover {
    cursor: pointer;
}

.box {
    float: left;
    font-family: "Josefin Sans", sans-serif;
    font-size: 124px;
    font-weight: bold;
    height: 100px;
    text-align: center;
    width: 100px;
}

#s1, #s7 {
    border-top: 0;
    border-right: solid #e8ddcb 3px;
    border-bottom: 0; 
    border-left: solid #e8ddcb 3px;
}

#s3, #s5 {
    border-top: solid #e8ddcb 3px;
    border-right: 0;
    border-bottom: solid #e8ddcb 3px;
    border-left: 0;
}

#s4 {
    border: solid #e8ddcb 3px;
}

#contact {
    color: #e8ddcb;
    font-family: 'Indie Flower', sans-serif;
    font-size: 24px;
    margin-top: 40px;
    margin-right: 40px;
    text-align: right;
}
